{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>En el campo del desarrollo de software, más allá de escribir código, se trata de construir soluciones que sean eficientes y sostenibles. Los principios clave de este proceso incluyen no solo la capacidad de adaptarse a cambios rápidos, sino también el enfoque en la seguridad y el rendimiento continuo de las aplicaciones a lo largo del tiempo.</p>
        <p>Como estudiante de Ingeniería en Gestión y Desarrollo de Software, descubrirás cómo crear plataformas que puedan crecer, evolucionar y mantenerse funcionales en el futuro, abordando los nuevos desafíos tecnológicos con eficacia.</p>
        <br>
        <p><b>Contacto para orientación:</b> 7228402619</p>
        <p><b>Costo de servicios:</b> Consultar</p>
    </div>
</div>
{% endblock %}

